<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Chocolatey图形管理界面-->
  <package id="chocolateygui" />

  <!-- 环境包 -->
  <package id="jdk8" />
  <package id="oracle17jdk" />
  <package id="python3" version="3.8.5.20200721"/>
  <package id="nodejs-lts" />
  <package id="git" />
  <!-- <package id="docker" /> -->
  <package id="vscode" />
  <package id="notepadplusplus.install"/>
  <package id="mobaxterm" />
  <package id="microsoft-windows-terminal" />

  <!-- .NET 6 Desktop Runtime -->
  <package id="dotnet-6.0-runtime" />
  <package id="dotnet-6.0-desktopruntime" />

  <!-- 常用软件 -->
  <package id="googlechrome"/>
  <!-- <package id="typora" version="0.11.18" /> -->
  <!-- <package id="marktext" /> -->
  <package id="markdownpad2" />
  <package id="markpad" />
  <!-- <package id="gimp" /> -->
  <!-- <package id="teamviewer" /> -->

  <package id="potplayer" />

  <package id="screentogif.install" />
  <package id="powertoys" />
  <package id="devtoys" />

  <package id="sumatrapdf.install" />
  <package id="7zip" />
  <package id="bandizip" version="6.25" />
  <package id="geekuninstaller" />

</packages>